[init]
	defaultBranch = main
[alias]
	c = commit -m
	ac = commit -am
	l = log --oneline
	pf = push --force-with-lease
  s = status -s
[user]
	name = mbaumgartenbr
	signingkey = 382C8E7D394FF91B
[commit]
	gpgsign = true
