# UTIL -------------------------------------------------------------------------

function mkd() {
    mkdir $@ && cd $_ 
}

# GOOGLE CLOUD -----------------------------------------------------------------

function gcloud() {
    if [[ -n $1 && $1 == "auth" ]]; then
        docker run -ti --name gcloud-config gcr.io/google.com/cloudsdktool/cloud-sdk gcloud auth login
    else
        docker run -it --rm --volumes-from gcloud-config gcr.io/google.com/cloudsdktool/cloud-sdk bash
    fi;
}